- @faqs.each do |faq|
  %span.faq-goto{id: "question-#{faq.id}"}
  .row.faq-question{ class: "question_#{faq.id}_flash" }
    .col-sm-11
      = faq.question
    .col-sm-1.text-right
      - if current_user && current_user.admin?
        = render partial: 'faqs/admin_options', locals: { faq: faq }
  .row.faq-answer
    .col-sm-12
      %p
        = faq.answer