Hello Colleen #{@user} has a question

%p 
	%h3 Person
	= @user
%p
	%h3 Email
	= @email
- if @phone_number
	%p
		%h3 Phone
		= @phone_number.first
		%br
		texting: #{@texting_ok}
%p
	%h3 What they say
	@question