%h1 Listing my_works

%table.table
  %thead
    %tr
      %th Title
      %th Tags
      %th Description
      %th Cover
      %th
      %th
      %th
      
  %tbody
    - @my_works.each do |my_work|
      %tr
        %td= my_work.title
        %td= my_work.tags
        %td= my_work.description
        %td= my_work.cover
        %td= link_to 'Show', my_work
        %td= link_to 'Edit', edit_my_work_path(my_work)
        %td= link_to 'Destroy', my_work, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New My work', new_my_work_path
