.row
  .col-sm-1#my-work-pic-list
    .row
      - @pictures.each do |pic|
        .col-sm-12
          .thumbnail{class: "#{pic.cover? ? 'cover-pic' : ''}"}
            = image_tag pic.image.url(:large)
  .col-sm-7
    .col-sm-12
      .thumbnail
        = image_tag @my_work.cover.image.url(:large)
        .caption
          %p
            = @my_work.cover.description
  .col-sm-4
    %p
      %b Title:
      = @my_work.title
    %p
      %b Tags:
      = @my_work.tags
    %p
      %b Description:
      = @my_work.description