= form_for(@user, html: { class: "form-horizontal" }) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label 'Email'
    %br
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label 'Password'
    %br
      = f.password_field :password, class: 'form-control'
  .form-group
    = f.label 'Password Conrimation'
    %br
      = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label 'Receive Emails?'
    %br
      = f.check_box :send_emails, class: 'form-control', checked: true
  .form-group
    = f.submit 'Submit', class: 'btn btn-primary btn-lg'