= form_for(@user, html: { class: "form-horizontal" }) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label 'Email', class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label 'Password', class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.password_field :password, class: 'form-control'
  .form-group
    = f.label 'Confirm Password', class: 'col-sm-2 control-label'
    %div.col-sm-10
      = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.label 'Receive Emails?', class: 'col-sm-2 control-label'
    %div.col-sm-1
      = f.check_box :receive_emails, class: 'form-control', checked: true, value: true
  .form-group
    %div.col-sm-offset-2
      = f.submit 'Go!', class: 'btn btn-blue btn-lg'