%table.table
  %thead
    %tr
      %th
      %th Title
      %th Description
      %th Image
      %th Cover
      %th Delete
      
  %tbody#pictures-tbody
    - pictures.each do |picture|
      %tr{id: "#{picture.name_id}-tr"}
        %td.mini-pic
          %img{:alt => "#{picture.title}", :src => "#{picture.image.url(:thumb)}"}/
        %td.title= picture.title
        %td.description= picture.description
        %td.file_name= picture.image_file_name
        %td.main_image
          - if picture.cropped
            - options = {:name => "main_image", :type => "radio", :value => "true", data: { id: picture.gallery_id, cover: picture.id, type: picture.gallery_type }}
            - if picture.cover?
              - options[:checked] = true
            %input.update-main-image{options}
          - else
            CROP
        %td
          %a.delete-image{href: '#', data: { id: picture.id }} Delete picture        
%br