!!!
%html{:lang => "en"}
  %head
    - if @subsection
      %title #{ @subsection ? @subsection + ' - ' : '' } Jones Jems
    - elsif params["action"]
      %title #{ params["action"].gsub('_',' ').split.map(&:capitalize).join(' ') } - Jones Jems
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = favicon_link_tag 'favicon-clear.ico'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    = flash_msg(true)
    = render partial: 'layouts/top_nav'
    - id = 'page-title'
    - pic_id = 'title-image'
    - if params["action"] == "home"
      - id = 'header'
      - pic_id = 'js-center-image'
    .container-fluid
      .row{id: id}
        - unless @header_image && @header_image == "false"
          = image_tag("full_logo.png", :alt => "banner", :id => pic_id, class: 'img-responsive', data: { width: '562', height: '247' })
      - if params["action"] == "home"
        = yield
      - else
        = yield
    %footer